<html>
    <head>
        <title>Veera's page</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Veera's page</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">About me</a></h2>
            <p>27 years, engineer, from Oulu.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""></a>Things I like</h2>
            <p>Food, dogs, nature, dancing.</p>
        </div>
    </body>
</html>
